@model MVCWingsAir.Models.Aviones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aviones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasVuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasVuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAvion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAvion.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAvion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
