@model IEnumerable<MVCWingsAir.Models.Vuelos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numerovuelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVuelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aeropuertos.Municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aeropuertos1.Municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aviones.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrigenDestino.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrigenDestino1.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pilotos.NombreCompleto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numerovuelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVuelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aeropuertos.Municipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aeropuertos1.Municipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aviones.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrigenDestino.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrigenDestino1.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pilotos.NombreCompleto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdVuelo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdVuelo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdVuelo })
        </td>
    </tr>
}

</table>
