@model MVCWingsAir.Models.Pilotos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pilotos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasVuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasVuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPiloto.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPiloto.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPiloto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
