@model IEnumerable<MVCWingsAir.Models.Pilotos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasVuelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPiloto.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorasVuelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPiloto.Tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPiloto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPiloto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPiloto })
        </td>
    </tr>
}

</table>
