@model MVCWingsAir.Models.TipoPiloto

@{
	ViewBag.Title = "Eliminar";
}

<div class="row">
	<div class="col">
		<h2>Eliminar @Model.Tipo</h2>
		<h3>¿Estas seguro de eliminar este tipo de piloto?</h3>
		<div>
			<h4>Tipo de Piloto</h4>
			<hr />
			<dl class="dl-horizontal">
				<dt>
					@Html.DisplayNameFor( model => model.Tipo )
				</dt>
				<dd>
					@Html.DisplayFor( model => model.Tipo )
				</dd>
			</dl>

			@using( Html.BeginForm() ) {
				@Html.AntiForgeryToken()

				<div class="form-actions no-color">
					<input type="submit" value="Eliminar" class="btn btn-danger" /> |
					@Html.ActionLink( "Ver lista de tipos de piloto", "Index", null, new { @class = "btn btn-outline-primary" } )
				</div>
			}
		</div>
	</div>
</div>