@model MVCWingsAir.Models.Aeropuertos

@{
	ViewBag.Title = "Crear nuevo Aeropuerto";
}

<h2>Crear Aeropuerto</h2>


@using( Html.BeginForm() ) {
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		<h4>Aeropuertos</h4>
		<hr />
		@Html.ValidationSummary( true, "", new { @class = "text-danger" } )
		<div class="form-group">
			@Html.LabelFor( model => model.Municipio, htmlAttributes: new { @class = "control-label" } )
			@Html.EditorFor( model => model.Municipio, new { htmlAttributes = new { @class = "form-control" } } )
			@Html.ValidationMessageFor( model => model.Municipio, "", new { @class = "text-danger" } )
		</div>

		<div class="form-group">
			@Html.LabelFor( model => model.Estado, htmlAttributes: new { @class = "control-label" } )
			@Html.EditorFor( model => model.Estado, new { htmlAttributes = new { @class = "form-control" } } )
			@Html.ValidationMessageFor( model => model.Estado, "", new { @class = "text-danger" } )
		</div>

		<div class="form-group">
			@Html.LabelFor( model => model.Pais, htmlAttributes: new { @class = "control-label" } )
			@Html.EditorFor( model => model.Pais, new { htmlAttributes = new { @class = "form-control" } } )
			@Html.ValidationMessageFor( model => model.Pais, "", new { @class = "text-danger" } )
		</div>

		<div class="form-group">
			<input type="submit" value="Crear" class="btn btn-success" />
		</div>
	</div>
}

<div>
	@Html.ActionLink( "Ver lista de aeropuertos", "Index", null, new { @class = "btn btn-outline-primary" } )
</div>

@section Scripts {
	@Scripts.Render( "~/bundles/jqueryval" )
}
